.login-form-body{
  background:#fff url('../../assets/images/back.png') no-repeat left top;
  background-size:100%;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
